:root {
  --main-color: #ffff4a;
  --secondary-color: #e9e9e9;
  --secondary-color2: #ffffff;
  --text-color-1: #000000;
  --text-color-2: #e0e0e0;
  --contrast-color: #ffa02c;
}

@font-face {
  font-family: "robotoregular";
  src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("./fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "robotoregular";
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
}

/* Sidebar */
.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--main-color);
  color: var(--text-color-1);
}

.dashboardTitle {
  font-size: 28px;
  padding-top: 10px;
}

.sidebar ul {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2 / 3;
  padding-bottom: 10px;
}

.searchbar {
  margin-top: 20px;
  margin-left: 20px;
  grid-column: 1 / 3;
}

.searchbar > input {
  width: 300px;
  height: 18px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
}

.notifications {
  grid-column: 3 / 5;
}

.notifName {
  font-size: 16px;
}

.profileName {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.profileNameSmall {
  font-size: 12px;
}

.profileNameLarge {
  font-size: 22px;
}

.profileImg {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.buttonsMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
  gap: 20px;
}

.buttonsHeader {
  background-color: var(--contrast-color);
  color: var(--secondary-color2);
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

/* Content */
.content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column: 2 / 3;
  gap: 8px;
  background-color: var(--secondary-color);
}

.projectsH,
.announcementH,
.trendingH {
  font-size: 20px;
}

.projectsH,
.projectGrid {
  grid-column: 1 / 2;
}

.projectsH {
  padding-left: 20px;
}

.projectGrid {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 10px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 20px;
  grid-row: 2 / 5;
}

.projects {
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color2);
}

.announcementDiv {
  grid-row: 2 / 3;
  background-color: var(--secondary-color2);
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.announcementDiv div {
  padding: 5px 10px;
}

.announcementDiv h6 {
  font-size: 12px;
}

.announcementDiv p {
  border-bottom: 1px solid var(--contrast-color);
  padding-bottom: 10px;
  font-size: 10px;
}

.announcementDiv > div:last-child > p {
  border: none;
  padding: 0;
}

.trendingH {
  grid-row: 3 / 4;
}

.trendingDiv {
  background-color: var(--secondary-color2);
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.trendingAdmins p {
  font-size: 12px;
}

.announcementH,
.trendingH,
.announcementDiv,
.trendingDiv {
  grid-column: 2 / 3;
}
